*{margin:0; padding:0; box-sizing: border-box;}
#container{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
  &>div:nth-child(1){
    position: absolute;
    top:0;
    width:inherit;
    height:10%;
    // border:1px solid black;
    z-index: 1;
    display: flex;
    align-items: center;
    &>div{
      display: flex;
      align-items: center;
      justify-content: center;
      width:10%;
      margin:1%;
      height:90%;
      // background-color: #ccc;
    }
  }
}

#root {
  background-color: #ffffff;
  // border:1px solid black;
  width:45vw;
  height:45vw;
  z-index: 2;
  display: grid;
  grid-template-columns: 66% 33%;
  justify-content: space-between;
  // grid-template-columns: 100%;

  & div{
    // border:1px solid #8c8c8c;
  }
  
  
  // left 
  &>div:nth-child(1){
    // width:70%;
    // height:100%;
    // border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    // header
    &>div:nth-child(1){
    border:1px solid #8c8c8c;
    // border:1px solid black;
      // background-color: #c4c4c4;

      width:100%;
      height:16%;
    }
    //main
    &>div:nth-child(2){
      width:100%;
      height:48%;
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      
      &>div:nth-child(1){
        height:100%;
        border:1px solid #8c8c8c;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
        width: 27%;
        & div{
          font-size: 25px;
          margin-left: 10px;
          color: #8c8c8c;
        }
        & >div:nth-child(1){
          font-size: 30px;
          color: #8c8c8c;
          
        }
      }
      &>div:nth-child(2){
        background-color: #c4c4c4;
        height:100%;
        width: 70%;
      }
      
    }
    // footer
    &>div:nth-child(3){
      width:100%;
      height:33%;
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
  
      &>div:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
        width: 49%;
        border:1px solid #8c8c8c;
        background-color: #ffffff;

      }
      &>div:nth-child(2){
        border:1px solid #8c8c8c;
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
        width: 49%;

      }
      
    }

    
  }
// right
  &>div:nth-child(2){
    // width:20%;
    // height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
// 큐브 오디션 로고
    &>div:nth-child(1){
      width:100%;
      height:33%;
      background-color: #EEF8FC;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
// 공시 정보 란
    &>div:nth-child(2){
      border:1px solid #8c8c8c;
      width:100%;
      height:47%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &>div:nth-child(1){
        width:90%;
        height:16%;
        &>div{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 2em;
          line-height: 1em;
          margin:1rem;
        }
      }

      &>div:nth-child(2){
        width:100%;
        height:31%;
        
      } 
      &>div:nth-child(3){
        width:100%;
        height:21%;
      }
      &>div:nth-child(4){
        width:100%;
        height:21%;
      }

    }

    &>div:nth-child(3){
      border:1px solid #8c8c8c;
      width:100%;
      height:16%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}